
body{
    background-color: black !important;
}

.container {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #577dbc;
    padding: 20px;
}

header{
    background-color: inherit;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

header li {
    display: inline-block;
    padding: 0 20px 0 5px;
}

header ul {
    padding-left: 0px;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.nav-link:hover{
    color: black;
    text-decoration: none;
}

.index-slika{
    width: 100%;
    padding-top: 20px;
}

footer {
    margin-top: 25px;
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid black;
    font-weight: bold;
    font-size: 10px;
}

.klub-slika {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.klub-detalji {
    display: inline-block;
    padding-left: 50px;
    text-align: center;
}

.klub-detalji img { 
    width: 350px;
    height: 350px;
}

.registracija {
    padding: 0 50px 50px 50px;
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit]{
    background-color: #555555;
    color: white;
    padding: 12px 20px;
    border: 1px solid #555555;
    border-radius: 4px;
    cursor: pointer;
}

.naslov-stranice {
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 20px 5px 80px 0;
}

.naslov-stranice .nav-link{
    float: right;
}

.klub-grid{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.klub-opis{
    margin-top: 50px;
    margin-right: 15px;
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    float: right;
}

.klub-labela{
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}

.klub-tekst{
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
}

.klub-trofeji{
    margin: 20px;
    padding-top: 20px;
}

.registracija-sekcija{
    padding-bottom: 15px;
}

.poruka-validatora{
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.status-uspeh{
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin-bottom: 15px;
}

.liga-stranica{
    padding: 30px 20px 0 20px;
}

.opcije{
    display: flex;
    padding-bottom: 20px;
}

table{
    background-color: white !important;
    border-radius: 10px;
}

.rezultat-utakmice{
    padding-top: 20px;
}

.potvrda-utakmice{
    padding-top: 30px;
}

.prijavljivanje-link{
    float: right;
}

.odjava-korisnika{
    display: inline-block;
    margin-left: 10px;
}

.rezultat-labela{
    color: white;
    font-size: 16px;
}

.status-neuspeh{
    margin-bottom: 15px;
}

#slikaFajl{
    display: none;
}

.slika_prikaz{
    max-height: 40px;
    max-width: 40px;
    display: none;
}

.slika{
    margin-left: 15px;
}

.tabela-igraci{
    width: 60%;
    margin-left: 30px;
}

.klub-igraci{
    margin: 20px;
    padding-top: 20px;
}
